
/* Sidebar */
.contentWrapper {
  display: flex;
  min-height: 100vh;
  background: #f4f6f8;
}
.sidebar{
    width:230px;
    background:#1f2d3d;
    color:#fff;
    padding-top:20px;
}
.sidebar h2{
    text-align:center;
    margin-bottom: 20px;
}
.sidebar a{
    display:block;
    padding:14px 20px;
    color:#fff;
    text-decoration:none;
    margin:5px 0
}
.sidebar a.active,.sidebar a:hover{
    background: rgba(255, 255, 255, 0.2);
}

/* Main */
.main{
    flex:1;
    display:flex;
    flex-direction:column
}
.topbar{
    height:80px;
    background:#149e8e;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    font-size:larger
}
.logout{
    margin-left:10px;
    background:#0b6b61;
    color:#fff;
    border:none;
    padding:8px 14px;
    border-radius:4px;
    cursor:pointer;
    text-decoration:none
}
.content{
    padding:20px;
}

.active {
  font-weight: bold;
}

.header-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px
}

.table{
    width:100%;
    border-collapse:collapse;
    background:#fff
}
.th,.td{
    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:left
}
.th{
    background:#f1f1f1
}

.headerRow{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px
}
.btn{
    color:#fff;
    border:none;
    padding:8px 14px;
    border-radius:4px;
    cursor:pointer;
    text-decoration:none;
    margin-left:10px;
}