.container {
    display: flex;
    gap: 30px;
}

.box {
    background: #fff;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }

.box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.box input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.box button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.box button:hover {
    background: #3a9dfc;
}

.error {
    color: red;
    font-size: 13px;
    text-align: center;
}

.dontHaveAccount{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
}

.showPassword {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3px;
}
.showPassword span {
    cursor: pointer;
    user-select: none;
    padding: 6px 3px;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}
.error{
    text-align:center;
    color:red;
    font-weight:bold;
}