/* WRAPPER */
.contentWrapper {
  display: flex;
  min-height: 100vh;
  background: #f4f6f8;
}

.sidebar {
  width: 230px;
  background: #1f2d3d;
  color: #fff;
  padding-top: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar a {
    display:block;
    padding:14px 20px;
    color:#fff;
    text-decoration:none;
    margin:5px 0
}

.sidebar a:hover,.sidebar a.active {
  background: rgba(255, 255, 255, 0.2);
}

/* MAIN AREA */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOPBAR */
.topbar{
    height:80px;
    background:#149e8e;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    font-size:larger
}

/* LOGOUT BUTTON */
.logout {
    margin-left:10px;
    background:#0b6b61;
    color:#fff;
    border:none;
    padding:8px 14px;
    border-radius:4px;
    cursor:pointer;
    text-decoration:none
}

/* CONTENT AREA */
.content {
  padding: 30px;
}

/* CARD */
.card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  max-width: 360px;
  width: 100%;
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* FORM GROUP */
.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 12px;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

/* BUTTON */
.btn {
  width: 100%;
  padding: 12px;
  background: #149e8e;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #118677;
}

/* PASSWORD TOGGLE */
.showPassword {
  display: flex;
  align-items: center;
  gap: 6px;
}

.showPassword span {
  cursor: pointer;
  user-select: none;
  padding: 6px;
  font-size: 18px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.15);
}
.headerRow{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px
}